.period {
    font-size: 22px;
    width: 150px;
    padding-top: 4.4px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 10px;

    &__tag {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    &--end {
        text-align: right;
    }
}
