@import "src/styles/utils/_mixin.scss";

.period {
    font-size: 22px;
    width: 150px;
    padding-top: 4.4px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 10px;

    &__tag {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    &--end {
        text-align: right;
    }

    @include mobile() {
        flex-direction: row;
        align-items: center;
        min-width: fit-content;
        width: 100%;
        gap: 8px;
    }
}

.detail {
    display: flex;
    max-width: 720px;
    flex-direction: column;
    gap: 24px;

    h4 {
        color: rgb(var(--black-500));
        font-size: 20px;
        line-height: normal;
        font-weight: 300;
    }

    &__company {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div:first-child {
            display: flex;
            min-width: fit-content;

            @include mobile() {
                flex-direction: column;
            }
        }
    }
}

.details {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    & > div,
    & > ul {
        word-break: keep-all;
        height: fit-content;
    }

    b {
        font-weight: 600;
    }

    &__index {
        min-width: 70px;
        h3 {
            font: inherit;
        }
    }

    &__task {
        li {
            display: flex;
            gap: 6px;
        }
        li::before {
            content: "•";
            display: block;
            left: 0;
            top: 0;
            line-height: inherit;
        }
    }

    &__stacks {
        display: flex;
        height: 40px;
        gap: 10px;
        flex-wrap: wrap;
    }

    @include mobile() {
        flex-direction: column;
        gap: 16px;

        p,
        li,
        div {
            font-size: 18px;
        }

        h3 {
            font-size: 20px;
        }
    }
}
