@charset "utf-8";

@import "utils/_color.scss";
@import "utils/_mixin.scss";

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

// 폰트
html,
body {
    font-family:
        "pretendard",
        "Roboto",
        -apple-system,
        Arial,
        sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(var(--black-700));
}

h1 {
    @include font(3.6rem, 800, 4rem);
    color: var(--black-800);
}

h2 {
    @include font(3rem, 800, 3rem);
    color: var(--black-800);
}

h3 {
    @include font(2.6rem, 700, 2.6rem);
}

h4 {
    @include font(1.8rem, 700);
    color: var(--black-500);
}

h5 {
    @include font(1.6rem, 300);
}

h6 {
    @include font(1.4rem, 100);
}

#resume {
    display: flex;
    align-items: center;
    flex-direction: column;
}

:root {
    // 컬러변수 설정
    @each $colorType, $colorMap in $colorBoard {
        @each $number, $code in $colorMap {
            --#{$colorType}-#{$number}: #{hexToRGB($code)};
        }
    }
}
