@charset "utf-8";

@import "utils/_color.scss";
@import "utils/_mixin.scss";

// 폰트
html,
body {
    font-family:
        "pretendard",
        "Roboto",
        -apple-system,
        Arial,
        sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black-700);
}

h1 {
    @include font(3.6rem, 800, 4rem);
    color: hsla(var(--black-800), 1);
}

h2 {
    @include font(3rem, 800, 3rem);
    color: hsla(var(--black-800), 1);
}

h3 {
    @include font(2.6rem, 700, 2.6rem);
}

h4 {
    @include font(1.8rem, 700);
    color: hsla(var(--black-500), 1);
}

h5 {
    @include font(1.6rem, 300);
}

h6 {
    @include font(1.4rem, 100);
}

:root {
    // 컬러변수 설정
    @each $color, $value in $colorBoard {
        @each $number, $code in $value {
            --#{color}-#{number}: #{code};
        }
    }
}
