@import "src/styles/utils/_mixin.scss";

.field {
    display: flex;
    padding: 12px 20px;
    gap: 32px;
    font-size: 20px;

    &__key {
        font-size: 26px;
        min-width: fit-content;
    }

    @include mobile {
        padding: 12px 0;
        flex-direction: column;
        gap: 20px;
    }
}

.edu {
    display: flex;
    gap: 20px;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 16px;
        border-right: 4px solid rgb(var(--black-300));

        & > :nth-child(1) {
            font-size: 26px;
            font-weight: 700;
            color: rgb(var(--black-800));
        }

        & > :nth-child(2) {
            font-weight: 300;
            color: rgb(var(--black-500));
        }
    }

    &__details {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        align-content: space-between;

        li {
            display: flex;
            span {
                display: block;
                min-width: 62px;
            }
        }
    }

    @include mobile(840px) {
        flex-direction: column;
        &__info {
            border-right: none;
        }
        &__details {
            grid-row-gap: 20px;
            grid-template-rows: repeat(3, auto);
            grid-template-columns: repeat(1, auto);
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
        display: flex;
        span {
            display: block;
            min-width: 62px;
        }
    }

    @include mobile() {
        gap: 12px;
    }
}

.map {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
        display: flex;
        span {
            display: block;
            min-width: 62px;
        }
    }

    @include mobile() {
        gap: 12px;
    }
}
