$redColor: (
    "950": #220202,
    "800": #7c0808,
    "700": #bb0c0c,
    "600": #f01a1a,
    "500": #f24040,
    "400": #f56666,
    "300": #f78c8c,
    "200": #fab2b2,
    "100": #fcd9d9
);

$blackColor: (
    "950": #1a1a1a,
    "800": #404040,
    "700": #4f4f4f,
    "600": #5e5e5e,
    "500": #676767,
    "400": #969696,
    "300": #b8b8b8,
    "200": #d4d4d4,
    "100": #ebebeb
);

$otherColor: (
    "green-950": #18353a,
    "white": #ffffff
);

$colorBoard: (
    "red": $redColor,
    "black": $blackColor,
    "other": $otherColor
);
