@import "src/styles/utils/_mixin.scss";

.skillCard {
    display: flex;
    flex-direction: column;
    width: 178px;
    height: 120px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(var(--black-200));

    &__logo {
        display: flex;
        align-items: center;
        width: 152px;
        gap: 8px;
        font-size: 20px;

        img {
            width: 40px;
            aspect-ratio: 1;
        }
    }

    @include mobile() {
        display: flex;
        flex-direction: column;
        gap: 6px;
        height: fit-content;
        min-width: 165px;
        padding: 12px;
        flex: 1 0 0;

        &__logo {
            font-size: 16px;
            line-height: 30px;

            img {
                width: 26px;
            }
        }
    }
}

.skillLine {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 24px;

    img {
        width: 40px;
        aspect-ratio: 1;
    }

    @include mobile() {
        font-size: 16px;

        img {
            width: 26px;
        }
    }
}

.level {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    &__detail {
        display: flex;
        height: 32px;
        gap: 4px;
        align-items: center;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }

        @include mobile() {
            height: fit-content;
            line-height: 20px;
        }
    }

    &__progress {
        position: relative;

        height: 16px;
        border-radius: 8px;
        background-color: rgb(var(--black-100));

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border-radius: 8px;
        }

        @include mobile() {
            display: none;
        }
    }

    $progressColor: (
        "good": (
            color: rgb(var(--red-600)),
            right: 14%
        ),
        "normal": (
            color: rgb(var(--red-300)),
            right: 40%
        ),
        "used": (
            color: rgb(var(--black-300)),
            right: 60%
        )
    );

    @each $level, $property in $progressColor {
        &[data-level="#{$level}"] {
            & > div::before,
            & > div::after {
                background-color: map-get($property, color);
            }

            & > div:nth-child(2)::after {
                right: map-get($property, right);
            }
        }
    }
}
