.level {
    &__progress {
        position: relative;

        height: 16px;
        border-radius: 8px;
        background-color: rgb(var(--black-300));

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 20%;
        }
    }
}
