.layout {
    border: 1px solid red;
    max-width: 1060px;
    width: 100%;
    padding: 42px 70px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.introduction {
    p {
        padding: 30px 20px 0;
        text-align: justify;
        font-size: 20px;
        line-height: 34px;
        word-break: keep-all;
    }
}

.skills {
    display: flex;
    padding: 12px 20px;
    gap: 32px;

    &__type {
        min-width: 150px;
        font-size: 26px;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        &--card {
            gap: 12px;
        }

        &--line {
            gap: 27px;
        }
    }
}

.work,
.project {
    display: flex;
    gap: 16px;

    &__detail {
        display: flex;
        padding: 30px 20px;
        gap: 30px;
    }
}

.education {
    gap: 30px;
}
